#!/bin/zsh

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Get week number
alias week="date +%V"

# Easy empties
alias emptydw="mv ~/Downloads/* ~/.Trash"
alias emptybin="rm -rf ~/.Trash/*"

# Quick ls
alias lsdw="ls ~/Downloads/"

# Quick cd
alias dot="cd ~/repos/dotfiles"

# Move all downloads
alias mvdwa="mv ~/Downloads/* ."

# Git
alias gs="git status"
alias gd="git diff"
alias ga="git add"
alias gaa="git add ."
alias gc="git commit"
alias gca="git commit --amend"
alias gp="git push"
alias gpf="git push --force"

# Conda
alias condaa="conda activate"
alias condad="conda deactivate"
alias jn="base && jupyter notebook"